body {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.2)),
    url(https://t4.ftcdn.net/jpg/05/24/62/93/360_F_524629361_AzQaPul017wJZqvKYcxZTQk6HmqZSP49.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 68.5vh;
}
.asos {
  border: 2px solid white;
  background-color: white;
  border-radius: 0.5rem;
  width: 50%;
  margin: auto;
  margin-top: 15%;
  padding-bottom: 50px;
}
h1 {
  text-align: center;
  color: blue;
}

.input {
  border: none;
  border-bottom: 2px solid silver;
  width: 40%;
  margin-left: 28%;
  height: 100%;
  outline: none;
  padding: 5px;
}
.input::placeholder {
  left: 0;
  font-size: 20px;
}
.button {
  border: solid white;
  background-color: white;
  border-radius: 0.5rem;
  padding: 5px;
  font-weight: bold;
  margin-left: 10px;
  font-size: 20px;
}
.button:hover {
  cursor: pointer;
  background-color: black;
  border-color: black;
  color: white;
}
span {
  position: absolute;
  margin-top: 10px;
  margin-left: 15%;
  color: green;
}
.by {
  text-align: center;
  color: white;
  text-decoration: none;
}
.icon {
  margin-top: 25px;
  margin-left: 43%;
}
.ins {
  color: red;
}
/* SITE RESPONSIVE */
@media only screen and (max-width: 1200px) {
  body {
    min-height: 70.5vh;
  }
  h1 {
    font-size: 30px;
  }
}
/* TABLE */
@media only screen and (max-width: 768px) {
  .asos {
    width: 60%;
  }
  h1 {
    font-size: 20px;
  }
  .input {
    width: 35%;
    margin-left: 25%;
  }
  .input::placeholder {
    font-size: 15px;
  }
  .button {
    font-size: 15px;
  }
  .icon {
    margin-top: 25px;
    margin-left: 40%;
  }
}
/* PHONE */
@media only screen and (max-width: 576px) {
  .asos {
    width: 90%;
    margin-top: 100px;
  }
  h1 {
    font-size: 15px;
  }
  .input {
    width: 30%;
    margin-left: 30%;
  }
  .input::placeholder {
    font-size: 15px;
  }
  .button {
    font-size: 15px;
  }
  .icon {
    margin-top: 25px;
    margin-left: 35%;
  }
}

@media only screen and (max-width: 450px) {
  .asos {
    width: 90%;
    margin-top: 100px;
  }
  h1 {
    font-size: 15px;
  }
  .input {
    width: 40%;
    margin-left: 20%;
  }
  .icon {
    margin-top: 25px;
    margin-left: 30%;
  }
}

/* LITTLE PHONE */
@media only screen and (max-width: 375px) {
  .asos {
    width: 90%;
    margin-top: 100px;
  }
  h1 {
    font-size: 15px;
  }
  .input {
    width: 42%;
    margin-top: 20px;
    margin-left: 20%;
  }
  .icon {
    margin-top: 25px;
    margin-left: 30%;
  }
}
